name: CRON-CI
on:
  pull_request:
    branches: [master]
  schedule: [cron: "0 */4 * * *"]
  workflow_dispatch: 

jobs:
  kind-csi-e2e:
    name: KIND-K8S-CSI-E2E
    # How to run K8S CSI e2e test
    # https://www.stackovercloud.com/2020/01/08/blog-testing-of-csi-drivers/
    runs-on: ubuntu-latest
    steps:
      - name: Free Disk Space (Ubuntu)
        run: |
          # Don't run this in your local machine
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /opt/ghc
          sudo rm -rf "/usr/local/share/boost"
          sudo rm -rf "$AGENT_TOOLSDIRECTORY"
          sudo rm -f /home/runner/runners/2.305.0.tgz
          sudo rm -f /home/runner/runners/2.306.0.tgz
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/local/share/chromium
          sudo rm -rf /usr/lib/google-cloud-sdk/
          sudo rm -rf /usr/lib/firefox
          sudo rm -rf /usr/share/swift
          sudo rm -rf /opt/microsoft/msedge
      - name: Check out code
        uses: actions/checkout@v2
      - name: Cron tests
        run: |
          echo "Cron test"
          bash scripts/cron_test.sh false
      - name: Archive Perf Result
        uses: actions/upload-artifact@v2
        with:
          name: perf-report
          path: /tmp/output/*

      - name: Print DatenLord logs
        if: ${{ failure() }}
        run: |
          bash scripts/print_datenlord_logs.sh
      
      - name: Debugging with ssh
        if: ${{ failure() }}
        uses: lhotari/action-upterm@v1
