name: Docker Image CI

on:
  push:
    branches: [ master ]

env:
  RUST_VERSION: 1.56.1
jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: docker login
      env:
        DOCKER_USER: ${{secrets.DOCKER_USER}}
        DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
      run: |
        docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
    - name: Build the Docker image
      run: |
        docker build . --build-arg RUST_IMAGE_VERSION=$RUST_VERSION --file Dockerfile --target datenlord --tag datenlord/datenlord:$(date '+%Y-%m-%d')
        docker tag datenlord/datenlord:$(date '+%Y-%m-%d') datenlord/datenlord:latest
    - name: Docker Push
      run: |
        docker push ${{secrets.DOCKER_USER}}/datenlord/datenlord:$(date '+%Y-%m-%d')
        docker push ${{secrets.DOCKER_USER}}/datenlord/datenlord:latest
