name: Python Tests with Pyo3
on:
  pull_request:
    branches: [master]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event_name }}
  cancel-in-progress: true

env:
  CI_RUST_TOOLCHAIN: 1.74.0
  CONTROLLER_SOCKET_FILE: /tmp/controller.sock
  BIND_MOUNTER: target/debug/bind_mounter
  ETCD_CONTAINER_NAME: etcd
  ETCD_IMAGE: gcr.io/etcd-development/etcd:v3.4.13
  NODE_SOCKET_FILE: /tmp/node.sock
  RUST_BACKTRACE: full
  RUST_LOG: debug
  DATENLORD_LOCAL_BIND_DIR: /tmp/datenlord_data_dir

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    - name: Install CSI dependencies
      run: |
        sudo apt update
        sudo apt install -y cmake g++ libprotobuf-dev protobuf-compiler
    - name: Set up Docker
      id: buildx
      uses: docker/setup-buildx-action@v1
      with:
        version: latest
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: ${{ env.CI_RUST_TOOLCHAIN }}
        override: true
    - uses: Swatinem/rust-cache@v2
    - uses: actions-rs/cargo@v1
      with:
        command: check
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.12'
    - name: Install maturin
      run: pip install maturin
    - name: Build and install Python package
      run: |
        cd sdk/kvcache/python
        python -m venv .venv
        source .venv/bin/activate
        pip install -e .
    - name: Run tests
      run: |
        cd sdk/kvcache/python/tests
        pip install pytest
        pytest